.site-heading,
.post-heading {padding: 1.5rem 0rem 2rem 0rem}

.site-header-image-font-color {color: white}

/* Set to important because bootstrap.css overrides it otherwise */
.site-navbar-font-color {color: white !important}


.blog-title {padding: 00;
             font-size: 4.5rem;
             font-weight: bold;
             text-align: center}

.blog-description {font-size: 1.1rem;
                   text-align: center}

.container {width:893px}

blog-item  {font-family: "Lora", sans-serif;
            font-size: 1.1rem;
            !important}

