{# Get all the config parameters from the theme's configuration file blueprints.yaml (configurable in the admin panel also)  #}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
{# Set language from config file #}
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">  
    <head>
        {% block head %}
	    {% include 'partials/head.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {# Partial template 'navigation' includes header as well as header #}
        <div class="container"> {# Sets page width to Bootstrap default of 960px unless overriden in custom.css  #}
            {% block navigation %}
	        {% include 'partials/navigation.html.twig' %}
            {% endblock %}
            {% if theme_config.extra_space_below_header != 0 %}
                {% set extra_padding = theme_config.extra_space_below_header %}
                <p style="padding-bottom:{{extra_padding}}px"></p>
        {% endif %}
        {% block content %}{% endblock %}

        {% block footer %}  {# Multicolumn footer #}   
            {%  include 'partials/footer_container.html.twig' %}
        {% endblock footer %}    
   
	{% block subfooter %} {# Subfooter line(s) for copyright, 'made with ..' line, etc. #}
	    {% include 'partials/subfooter.html.twig' %}
	{% endblock %}
        </div>

{# Block temporarily disabled until template's ready	
        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
#}
    </body>
</html>
