{# Get all the config parameters from the theme's configuration file blueprints.yaml (configurable in the admin panel also)  #}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
{# Set language from config file #}
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">  
    <head>
        {% block head %}
	    {% include 'partials/head.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {# Partial template 'navigation' includes header as well #}
        {% block navigation %}
	    {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}  {# Multicolumn footer #}   
            {%  include 'partials/footer_container.html.twig' %}
        {% endblock footer %}    
   
	{% block subfooter %} {# Subfooter line(s) for copyright, 'made with ..' line, etc. #}
	    {% include 'partials/subfooter.html.twig' %}
	{% endblock %}


{# Block temporarily disabled until template's ready	
        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
#}
    </body>
</html>
